In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats

In [2]:
df = pd.read_csv("Adeola_Analysis.csv")
print(df)

    S/N  Sex  Age  Class  Department treatment  Pre  Post
0     1    2    2      2           1              5    14
1     2    2    3      2           3         1    7    18
2     3    2    2      2           3         1    4    16
3     4    1    2      2           3         1    8    17
4     5    1    2      2           1         1    5    15
5     6    2    2      2           2         1   12    20
6     7    1    3      2           3         1    5    15
7     8    2    2      2           2         1   13    18
8     9    1    2      2           1         1    9    15
9    10    1    3      2           1         1    9    16
10   11    2    2      1           2         1    7    17
11   12    2    2      2           3         1   10    13
12   13    2    2      2           2         1    4    16
13   14    1    2      2           2         1    7    14
14   15    1    2      1           1         1    9    17
15   16    2    1      3           1         1    4    17
16   17    2    1      1           1         1    4    17
17   18    2    2      3           2         1   10    20
18   19    2    2      2           3         1    7    20
19   20    1    1      1           1         1    7    15
20   21    1    2      2           2         1    4    15
21   22    2    2      2           1         1    5    14
22   23    2    2      2           2         1    5    19
23   24    1    3      3           1         1    8    20
24   25    1    2      1           1         1    4    18
25   26    2    3      3           3         1   10    20
26   27    1    2      2           1         1   11    16
27   28    2    2      2           1         1    4    19
28   29    1    2      3           2         1    6    18
29   30    2    1      1           1         2    9    17
30   31    2    3      3           1         2    5    20
31   32    2    1      1           1         2    9    18
32   33    1    3      2           2         2    9    15
33   34    2    2      3           1         2    6    19
34   35    1    3      2           2         2   12    19
35   36    2    2      2           3         2   10    18
36   37    2    2      1           1         2    6    20
37   38    1    2      1           1         2    8    16
38   39    2    2      3           3         2    9    17
39   40    1    2      3           3         2    9    14
40   41    2    2      1           2         2    8    20
41   42    1    1      3           1         2   10    20
42   43    1    2      2           1         2   10    16
43   44    2    3      1           3         2    8    19
44   45    2    2      2           2         2   11    18
45   46    2    2      3           2         2    6    16
46   47    1    2      3           3         2   10    16
47   48    2    2      3           2         2    7    17
48   49    2    2      2           3         2    7    18
49   50    2    2      3           1         2    6    20
50   51    1    1      2           2         2   10    19
51   52    1    2      3           2         2    6    15
52   53    2    2      2           1         2   10    19
53   54    2    2      2           1         2    5    15
54   55    1    3      1           2         2    7    19
55   56    2    3      3           2         2    7    17
56   57    2    2      2           1         2    5    18
57   58    1    2      1           3         2   10    20
58   59    1    2      3           1         2    6    16
59   60    1    2      3           2         2   14    20

In [22]:
df.head()

   S/N  Sex  Age  Class  Department treatment  Pre  Post
0    1    2    2      2           1              5    14
1    2    2    3      2           3         1    7    18
2    3    2    2      2           3         1    4    16
3    4    1    2      2           3         1    8    17
4    5    1    2      2           1         1    5    15

In [23]:
df.dtypes

S/N            int64
Sex            int64
Age            int64
Class          int64
Department     int64
treatment     object
Pre            int64
Post           int64
dtype: object

In [24]:
df.describe()

,S/N,Sex,Age,Class,Department,Pre,Post
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,30.500000,1.566667,2.066667,2.083333,1.800000,7.633333,17.333333
std,17.464249,0.499717,0.548238,0.719973,0.798303,2.510768,1.997173
min,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,13.000000
25%,15.750000,1.000000,2.000000,2.000000,1.000000,5.750000,16.000000
50%,30.500000,2.000000,2.000000,2.000000,2.000000,7.000000,17.000000
75%,45.250000,2.000000,2.000000,3.000000,2.000000,10.000000,19.000000
max,60.000000,2.000000,3.000000,3.000000,3.000000,14.000000,20.000000

In [30]:
from scipy import stats

In [36]:
pearson_coef, p_value = stats.pearsonr(df['Pre'], df['Age'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.0426858903666381  with a P-value of P = 0.7460624161256323

In [38]:
pearson_coef, p_value = stats.pearsonr(df['Pre'], df['Class'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.04531810979097514  with a P-value of P = 0.7309779207646308

In [39]:
pearson_coef, p_value = stats.pearsonr(df['Pre'], df['Department'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.2249340293223436  with a P-value of P = 0.08400642218914005

In [41]:
pearson_coef, p_value = stats.pearsonr(df['Post'], df['Class'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.027503796943750675  with a P-value of P = 0.8347594771385369

In [42]:
pearson_coef, p_value = stats.pearsonr(df['Post'], df['Class'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.027503796943750675  with a P-value of P = 0.8347594771385369

In [43]:
pearson_coef, p_value = stats.pearsonr(df['Post'], df['Department'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.02126152199447509  with a P-value of P = 0.8719006196734089

In [52]:
grouped_test2=df[['Pre', 'Age']].groupby(['Pre'])
grouped_test2.head()

    Pre  Age
0     5    2
1     7    3
2     4    2
3     8    2
4     5    2
5    12    2
6     5    3
7    13    2
8     9    2
9     9    3
10    7    2
11   10    2
12    4    2
13    7    2
14    9    2
15    4    1
16    4    1
17   10    2
18    7    2
19    7    1
20    4    2
21    5    2
22    5    2
23    8    3
25   10    3
26   11    2
28    6    2
29    9    1
31    9    1
33    6    2
34   12    3
35   10    2
36    6    2
37    8    2
40    8    2
41   10    1
43    8    3
44   11    2
45    6    2
49    6    2
59   14    2

In [59]:
!pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: statsmodels in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: scipy in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: patsy in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: pandas in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: six in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from patsy->researchpy) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\emmanuel adeniyi\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [60]:
import researchpy as rp

In [66]:
lower_than_14 = df[df['Age'] == '1']
lower_than_18 = df[df['Age'] == '2']
eighteen_older = df[df['Age'] == '3']

In [77]:
scipy.stats.ttest_ind(df[df['Pre'] == '1'],
                   df[df['Pre'] == '2'], equal_var = True)

Ttest_indResult(statistic=array([nan, nan, nan, nan, nan, nan, nan]), pvalue=array([nan, nan, nan, nan, nan, nan, nan]))

In [75]:
f_statistic, p_value = scipy.stats.f_oneway(lower_than_14, lower_than_18, eighteen_older)
print("F_Statistic: {0}, P-Value: {1}".format(f_statistic,p_value))

F_Statistic: [nan nan nan nan nan nan nan], P-Value: [nan nan nan nan nan nan nan]

C:\Users\Emmanuel Adeniyi\anaconda3\lib\site-packages\scipy\stats\stats.py:3612: F_onewayBadInputSizesWarning: at least one input has length 0
  warnings.warn(F_onewayBadInputSizesWarning('at least one input '